In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Trading-features.csv")

In [3]:
df.head()

,id,last_price,created_at,f1,f2,f3,f4,f5,f6,f7,...,f152,f153,f154,f155,f156,f157,f158,f159,f160,f161
0,55466910,43138.2,2023-12-27 12:47:41.916971,0.000463,15139,-43.1,43.0,-0.1,-4.8,-5.1,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
1,55466909,43138.2,2023-12-27 12:47:40.693372,0.000463,15140,-43.1,43.0,-0.1,-4.7,-5.1,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
2,55466908,43138.2,2023-12-27 12:47:39.968797,0.000463,15141,-37.4,43.0,5.6,-1.9,-0.6,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
3,55466907,43138.2,2023-12-27 12:47:38.919784,0.000463,15142,-37.4,37.4,0.0,-3.7,-6.2,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
4,55466906,43132.6,2023-12-27 12:47:37.881533,0.000463,15143,-39.6,36.5,-3.1,-3.7,-9.4,...,689.6,-129.4,689.6,-129.4,-129.4,689.6,689.6,-129.4,-129.4,689.6

In [4]:
df.dropna(inplace=True)

In [5]:
df.shape

(9979, 164)

In [6]:
# Create a new column 'Price_Status' and initialize it with 'No'
df['Price_Status'] = 0

In [7]:
# Check if the current price is greater than the previous row's price
df.loc[df['last_price'] > df['last_price'].shift(1), 'Price_Status'] = 1

In [8]:
df.head()

,id,last_price,created_at,f1,f2,f3,f4,f5,f6,f7,...,f153,f154,f155,f156,f157,f158,f159,f160,f161,Price_Status
0,55466910,43138.2,2023-12-27 12:47:41.916971,0.000463,15139,-43.1,43.0,-0.1,-4.8,-5.1,...,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,0
1,55466909,43138.2,2023-12-27 12:47:40.693372,0.000463,15140,-43.1,43.0,-0.1,-4.7,-5.1,...,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,0
2,55466908,43138.2,2023-12-27 12:47:39.968797,0.000463,15141,-37.4,43.0,5.6,-1.9,-0.6,...,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,0
3,55466907,43138.2,2023-12-27 12:47:38.919784,0.000463,15142,-37.4,37.4,0.0,-3.7,-6.2,...,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,0
4,55466906,43132.6,2023-12-27 12:47:37.881533,0.000463,15143,-39.6,36.5,-3.1,-3.7,-9.4,...,-129.4,689.6,-129.4,-129.4,689.6,689.6,-129.4,-129.4,689.6,0

In [9]:
df = df.drop(['created_at','id'],axis=1)
df

,last_price,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f153,f154,f155,f156,f157,f158,f159,f160,f161,Price_Status
0,43138.2,0.000463,15139,-43.1,43.0,-0.1,-4.8,-5.1,-4.3,-15.2,...,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,0
1,43138.2,0.000463,15140,-43.1,43.0,-0.1,-4.7,-5.1,-2.4,-15.2,...,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,0
2,43138.2,0.000463,15141,-37.4,43.0,5.6,-1.9,-0.6,-2.4,-6.7,...,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,0
3,43138.2,0.000463,15142,-37.4,37.4,0.0,-3.7,-6.2,-10.2,-12.3,...,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,0
4,43132.6,0.000463,15143,-39.6,36.5,-3.1,-3.7,-9.4,-10.2,-12.4,...,-129.4,689.6,-129.4,-129.4,689.6,689.6,-129.4,-129.4,689.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,42753.6,0.000414,25191,-29.5,29.4,-0.1,3.5,9.6,9.7,-23.7,...,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2,0
9996,42753.6,0.000414,25192,-29.5,29.4,-0.1,3.4,9.6,9.7,-21.5,...,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2,0
9997,42753.6,0.000414,25193,-36.7,36.6,-0.1,3.7,9.7,12.6,-21.4,...,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2,0
9998,42753.7,0.000414,25194,-36.7,48.5,11.8,22.6,21.6,23.7,-9.6,...,-41.2,440.3,-41.2,-41.2,440.3,440.3,-41.2,-41.2,440.3,1
9999,42765.6,0.000414,25196,-36.7,48.5,11.8,22.7,19.8,21.7,-7.3,...,-29.3,452.2,-29.3,-29.3,452.2,452.2,-29.3,-29.3,452.2,1

In [10]:
class_count = df['Price_Status'].value_counts()
class_count

0    6762
1    3217
Name: Price_Status, dtype: int64

In [11]:
X = df.iloc[:,:-1]
X

,last_price,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f152,f153,f154,f155,f156,f157,f158,f159,f160,f161
0,43138.2,0.000463,15139,-43.1,43.0,-0.1,-4.8,-5.1,-4.3,-15.2,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
1,43138.2,0.000463,15140,-43.1,43.0,-0.1,-4.7,-5.1,-2.4,-15.2,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
2,43138.2,0.000463,15141,-37.4,43.0,5.6,-1.9,-0.6,-2.4,-6.7,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
3,43138.2,0.000463,15142,-37.4,37.4,0.0,-3.7,-6.2,-10.2,-12.3,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
4,43132.6,0.000463,15143,-39.6,36.5,-3.1,-3.7,-9.4,-10.2,-12.4,...,689.6,-129.4,689.6,-129.4,-129.4,689.6,689.6,-129.4,-129.4,689.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,42753.6,0.000414,25191,-29.5,29.4,-0.1,3.5,9.6,9.7,-23.7,...,440.2,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2
9996,42753.6,0.000414,25192,-29.5,29.4,-0.1,3.4,9.6,9.7,-21.5,...,440.2,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2
9997,42753.6,0.000414,25193,-36.7,36.6,-0.1,3.7,9.7,12.6,-21.4,...,440.2,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2
9998,42753.7,0.000414,25194,-36.7,48.5,11.8,22.6,21.6,23.7,-9.6,...,440.3,-41.2,440.3,-41.2,-41.2,440.3,440.3,-41.2,-41.2,440.3
9999,42765.6,0.000414,25196,-36.7,48.5,11.8,22.7,19.8,21.7,-7.3,...,452.2,-29.3,452.2,-29.3,-29.3,452.2,452.2,-29.3,-29.3,452.2

In [12]:
y = df.iloc[:,-1:]
y

      Price_Status
0                0
1                0
2                0
3                0
4                0
...            ...
9995             0
9996             0
9997             0
9998             1
9999             1

[9979 rows x 1 columns]

In [13]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=43)

In [14]:
# Initialize the SVM model
from sklearn.svm import SVC
classifier = SVC()

In [15]:
# Train the model
classifier.fit(X_train, y_train)

C:\Users\Hamza_Mustafa\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [16]:
# Make predictions on the test set
y_pred = classifier.predict(X_test)

In [17]:
# Evaluate the mode
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
# accuracy = accuracy_score(y_test, y_pred)
accuracy = classifier.score(X_test,y_test)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.69

In [18]:
class_report = classification_report(y_test, y_pred)
print(f"Classification Report:\n{class_report}")

Classification Report:
              precision    recall  f1-score   support

           0       0.69      0.99      0.81      1374
           1       0.49      0.03      0.05       622

    accuracy                           0.69      1996
   macro avg       0.59      0.51      0.43      1996
weighted avg       0.63      0.69      0.58      1996

In [19]:
df[['last_price','Price_Status']].corr()

              last_price  Price_Status
last_price      1.000000      0.083002
Price_Status    0.083002      1.000000